<section id='body_content'>
  <%=raw @page.content_for(:body) %>
</section>
<section id='side_body_content'>
  <%=raw @page.content_for(:side_body) %>
</section>

<% content_for :body_content_right do %>
    <ul id='gallery'>
          <% @page.images.each do |image| %>
                  <li>
                          <%= link_to image_tag(image.thumbnail("200x200#c").url), image.thumbnail("900x600").url %>
                                </li>
                                   <% end %>
                                     </ul>
                                   <% end %>
                                   <%= render :partial => "/refinery/content_page" %>
