<%# <%= render '/refinery/content_page' %>

<% content_for :body_content_right do %>
  <div class='fotorama'>
    <% @page.images.each do |image| %>
      <%= image_tag(image.url) %>
    <% end %>
  </div>
<% end %>

<%= render :partial => "/refinery/content_page" %>
