/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require fotorama.css
 */
body
  background: #F2F2F2
  font-size: 13px

body a
  text-decoration: none
  font-family: 'Kabel Heavy', Arial
  color: black

@font-face
  font-family: 'Kabel Heavy'
  src: font-url('KabelLTStd-Heavy.otf') format('opentype')
  src: local('Kabel Heavy'), font-url('?KabelLTStd-Heavy.otf?#iefix')
  font-weigth: normal
  font-style: normal


#header
  float: left
  margin: 20px
  width: 30%

#page
  background-color: red
  float: left

.menu
  margin-top: 90px
ul
  //border: 1px solid red
  padding-left: 30px
  line-height: 2em
  list-style-type: none
  

.images
  border: 1px solid red
  padding: 20px
  position: absolute
  background-color: white

.femmes
  border: 1px solid blue
  //left: 120px

.Aline
  margin: 120px
  left: 370px

.sans_modestine
  top: 370px
  left: 40%

footer
  clear: both
  float: left

