/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require fotorama.css
 *= require reset.css.sass
 */


///////// Fonts ////////

@font-face
  font-family: 'Kabel Heavy'
  src: font-url('KabelLTStd-Heavy.otf') 
  src: local('Kabel Heavy'), font-url('KabelLTStd-Heavy.otf') format('opentype')
  font-weigth: Heavy
  font-style: normal

@font-face
  font-family: 'Kabel Black'
  src: font-url('KabelLTStd-Black.otf') 
  src: local('Kabel Black'), font-url('KabelLTStd-Black.otf') format('opentype')
  font-weigth: bold
  font-style: normal

@font-face
  font-family: 'Open Sans'
  src: font-url('OpenSans-Regular.ttf')
  src: local('Open Sans'), font-url('OpenSans-Regular.ttf') format('ttf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Open Sans'
  src: font-url('OpenSans-Bold.ttf')
  src: local('Open Sans'), font-url('OpenSans-Bold.ttf') format('ttf')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Open Sans'
  src: font-url('OpenSans-Light.ttf')
  src: local('Open Sans'), font-url('OpenSans-Light.ttf') format('ttf')
  font-weight: light
  font-style: normal

//////////////////////

body
  background: #F2F2F2

a
  color: #666
  text-decoration: none
  
a:hover
  color: black

#header
  float: left
  margin: 70px
  width: 30%

  h1 a
    font-family: 'Open Sans', 'Merriweather',  Arial
    font-size: 1.9em
    font-weight: normal
    color: black

.menu
  font-family: 'Open Sans Light', Arial
  margin-top: 90px

  a
    background: url('images/arrow-toggle.png')
    height: 17px

  ul
    padding-top: 5px

  li
    padding-left: 30px
    line-height: 1.8em
    list-style-type: none

#page
  margin-left: 400px
  padding: 20px
  position: relative
  
  .imghome
    background-color: white
    padding: 20px
    position: absolute

  .femmes
    left: 420px
    top: 180px

    ul
      margin-left: -20px

      li
        float: left
        padding-left: 20px

  .sansmodestine
    top: 360px
    left: 420px

.fotorama
  padding: 20px 
  border: 1px solid red
  background-color: white

footer
  clear: both
  float: left

.container
  font-family: arial
  margin: auto
  position: absolute
  top: 0
  width: 300px

.container__title
  background-color: black
  color: white
  padding: 5px

.container__form
  background-color: grey
  padding: 5px

  input
    margin: 5px
